### Text (strings)

In [2]:
# single quoted
'String 1'

'String 1'

In [3]:
# double quoted
"String 2"

'String 2'

In [6]:
# Multi-line
'''Hello
world!'''

'Hello\nworld!'

In [7]:
# Concatenate Strings
'Hello' + 'World!'

'HelloWorld!'

In [12]:
# Multiply String by Integer
'String 3 ' * 4

'String 3 String 3 String 3 String 3 '

In [13]:
# Length of String
len('String 4')

8

In [16]:
# Convert string to integer
int('48')

48

### Variables

In [18]:
# Creating a variable
total = 10

In [19]:
# Using a variable
( total * 10 ) / 2

50.0

### Number (integer)

In [25]:
# Addition and substraction
201 + 4 - 3

202

In [26]:
# Multiplication and division
( 45 * 2 ) / 4

22.5

In [27]:
# Powers
2**2

4

In [28]:
# Convert integer to string
str(210)

'210'

In [47]:
# Are two values not equal
x = 1
y = 2
x != y

True

In [48]:
# Less than 
x = 1
y = 2
x < y

True

In [49]:
# Greater than 
x = 1
y = 2
x > y

False

In [50]:
# Less than or equal to 
x = 1
y = 2
x <= y

True

In [51]:
# Greater than or equal to 
x = 1
y = 2
x >= y

False

### String Manipulation

In [31]:
# Compare two string
text = 'foo'
if text == 'foo':
    print(True)
else:
    print(False)

True

In [33]:
# Less than another string
text = 'bar'
if text < 'n':
    print(True)
else:
    print(False)

True

In [34]:
# Is a character in a string
text = 'String 5'
'i' in text

True

In [35]:
# Is a string in another string
text = 'String 6'
'String' in text

True

In [36]:
# Convert to uppercase
text = 'String 7'
text.upper()

'STRING 7'

In [38]:
# Convert to lowercase
text = 'String 8'
text.lower()

'string 8'

In [42]:
# Count a character in a string
text = 'String 9'
text.count('i')

1

In [43]:
# Replace a character or string
text = 'String 10'
text.replace('i', 'o')

'Strong 10'

In [44]:
# Delete a character or string
text = 'String 11'
text.replace('ing', '')

'Str 11'

In [45]:
# Is the string lowercase
text = 'String 12'
text.islower()

False

In [46]:
# Is the string Uppercase
text = 'String 12'
text.isupper()

False

### Loop

In [52]:
# Repeat a block n times
n = 10
for i in range(n):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [53]:
# Sum the number 0 to 9
total = 0
n = 10
for i in range(n):
    total = total + i
print(total)

45

In [55]:
# Repeat a block over a string
string = 'HelloWorld'
for c in string:
    print(c)

H
e
l
l
o
W
o
r
l
d

In [56]:
# Printing on one line
string = 'HelloWorld'
for c in string:
    print(c, end=' ')

H e l l o W o r l d

In [62]:
# Count from 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [67]:
# Count from 10 to 1
for i in range(10,0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [68]:
# Count 2 at a time to 10
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [70]:
# Count down 2 at a time to 0
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

### Interaction with user

In [71]:
# Print multiple values
totalDays = 365
print('There are {} days in a year'.format(totalDays))

There are 365 days in a year

In [74]:
# Asking the user for a string
name = input('What is your name ? ')
print('My name is {}'.format(name))

What is your name ? Vitto
My name is Vitto

In [1]:
# Asking the user for a number
num = int(input('Enter a number : '))
print('Got {}'.format(num))

Enter a number : 5
Got 5